<div class="footer-menu">
    {# <h4 class="title">{{ "METRICALO.FOOTER_LINKS"|t }}</h4> #}
    <div class="frame-24">
        {% for link in links %}
            {% set link_page = pages.find(link) %}
            {% if link_page %}
                <div class="menu-item">                 
                        
                    <a rel="noopener noreferrer" href="{{ link_page.url|replace({'%23': '#'}) }}">{{ link_page.menu }}</a>
                        
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>