<div class="pricing" data="{{ packageKey }}">
    <div class="pricing-content" >
        <div class="recommended-tag-parent">
            {% if header.on_package == package %}
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="18" viewBox="0 0 50 18" fill="none">
                    <path d="M25 0L49.2487 17.8393H0.751289L25 0Z" fill="#255728"/>
                </svg>
            {% endif %}
            {% include 'partials/product_pricing/widget/_recommended_tag.html.twig' %}
        </div>
        {% include 'partials/product_pricing/widget/_benefits.html.twig' with { iterationCount: iterationCount } %}
        <div class="package-top-section">
            <div class="price">
                <div class="package-title">
                   
                    {% if iterationCount == 1 %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <path d="M1.4137 26.8987L7.5412 20.8612L17.9737 19.0125L16.9424 24.4725L2.8387 28.8075L1.92745 28.4137L1.4137 26.8987Z" fill="#CA2C31"/>
                        <path d="M8.60245 22.41L1.94995 28.455L6.8437 30.84L14.2725 27.0488V25.26L15.7912 21.165L8.60245 22.41ZM24.3449 33.0563L21.1312 34.4513L18.0975 40.8825C18.0975 40.8825 20.7675 46.7963 20.8875 46.7963C21.0075 46.7963 22.5262 46.9163 22.5262 46.9163L27.9262 40.8788L29.2912 30.5663L24.3449 33.0563Z" fill="#A02422"/>
                        <path d="M21.1876 37.8151C21.1876 37.8151 22.9763 37.4514 24.2513 36.8439C25.5263 36.2364 27.1013 35.3289 27.1013 35.3289L26.5238 40.3651L20.8801 46.7889C20.8801 46.7889 20.6588 46.5151 19.7213 44.4751C18.9751 42.8476 18.7163 42.2664 18.7163 42.2664L21.1876 37.8151Z" fill="#CA2C31"/>
                        <path d="M11.8425 30.2475C11.8425 30.2475 9.69001 30.0674 7.33126 33.0487C5.17876 35.7712 4.17001 40.2037 3.78001 41.3437C3.39001 42.4837 2.45626 42.7162 2.76751 43.2375C3.07876 43.7587 4.42501 43.7287 6.08626 43.5224C7.74751 43.3162 9.17251 42.795 9.17251 42.795C9.17251 42.795 9.10126 42.9749 8.86126 43.365C8.77501 43.5037 8.47501 43.7024 8.49751 43.9087C8.55001 44.3999 12.7575 44.4112 16.1175 40.9537C19.7475 37.2224 17.985 34.1624 17.985 34.1624L11.8425 30.2475Z" fill="#F7D74D"/>
                        <path d="M12.4912 31.9836C12.4912 31.9836 10.17 32.1074 8.24997 35.0886C6.32997 38.0699 5.43747 41.5236 5.62122 41.7561C5.80122 41.9886 9.37872 40.6949 10.2375 40.9536C10.8262 41.1336 10.5225 41.7299 10.68 41.8874C10.8112 42.0186 12.3637 42.2399 14.8762 39.5174C17.3925 36.7949 16.7962 32.9699 16.7962 32.9699L12.4912 31.9836Z" fill="#FBF0B4"/>
                        <path d="M13.6313 27.915C13.6313 27.915 12.465 28.9538 12.0488 29.55C11.6325 30.1463 11.6325 30.1988 11.6588 30.3788C11.685 30.5588 12.1163 32.535 13.9125 34.2675C16.1175 36.3938 18.0863 36.6788 18.3713 36.6788C18.6563 36.6788 20.55 34.5525 20.55 34.5525L13.6313 27.915Z" fill="#858585"/>
                        <path d="M18.7875 34.215C18.7875 34.215 20.6775 35.4563 23.8462 34.3913C28.1775 32.9363 31.3537 29.6813 35.2875 25.5713C39.0825 21.6038 42.2662 16.68 42.2662 16.68L40.035 9.2063L18.7875 34.215Z" fill="#437687"/>
                        <path d="M25.4962 30.1237L26.0175 28.5037L27.3225 28.6874C27.3225 28.6874 28.3162 29.1562 29.0475 29.4974C29.7787 29.8387 30.72 30.0974 30.72 30.0974L28.8637 31.6649C28.8637 31.6649 27.8512 31.2824 27.1125 30.9599C26.28 30.5962 25.4962 30.1237 25.4962 30.1237Z" fill="#3F545F"/>
                        <path d="M31.62 6.05249C31.62 6.05249 28.0125 8.14499 22.8412 13.0387C18.18 17.4487 14.7262 21.4387 13.89 24.8325C13.1925 27.675 13.5637 29.4 15.15 31.2637C16.8262 33.2362 18.7912 34.215 18.7912 34.215C18.7912 34.215 20.2687 34.2375 26.4337 29.4937C34.125 23.5725 40.2862 13.6575 40.2862 13.6575L31.62 6.05249Z" fill="#8DAFBF"/>
                        <path d="M39.0675 15.6899C39.0675 15.6899 35.9287 14.3512 33.69 11.2274C31.4662 8.12618 31.6425 6.02993 31.6425 6.02993C31.6425 6.02993 33.5025 4.57118 37.6837 2.90243C40.4962 1.78118 44.325 1.20744 45.585 2.14119C46.845 3.07493 44.7225 7.75869 44.7225 7.75869L40.8562 15.2437L39.0675 15.6899Z" fill="#D83F22"/>
                        <path d="M25.5637 30.1499C25.5637 30.1499 22.8524 28.7661 21.1274 26.7974C17.8649 23.0811 17.1899 19.0011 17.1899 19.0011L18.8287 17.0774C18.8287 17.0774 19.2374 21.4124 22.7362 25.1586C25.0162 27.5999 27.3974 28.7174 27.3974 28.7174C27.3974 28.7174 26.9212 29.1186 26.4112 29.5086C26.0849 29.7599 25.5637 30.1499 25.5637 30.1499Z" fill="#6896A5"/>
                        <path d="M42.2663 16.6799C42.2663 16.6799 43.8938 14.7186 45.435 10.2974C47.5875 4.13239 45.7125 2.26489 45.7125 2.26489C45.7125 2.26489 45.0788 5.19739 42.8775 9.27364C41.1113 12.5399 38.9738 15.6486 38.9738 15.6486C38.9738 15.6486 40.1513 16.1774 40.7888 16.3611C41.5913 16.5936 42.2663 16.6799 42.2663 16.6799Z" fill="#A02422"/>
                        <path d="M14.9288 26.1226C15.4163 26.5876 16.155 26.1001 16.6388 24.9601C17.1263 23.8201 17.1188 23.1826 16.7438 22.9126C16.2788 22.5751 15.4988 23.3138 15.1575 23.9701C14.7825 24.6976 14.5613 25.7701 14.9288 26.1226ZM31.8563 7.54883C31.8563 7.54883 29.0025 9.60008 25.9575 12.3901C23.1638 14.9513 21.3113 16.9538 21.0563 17.4188C20.7863 17.9176 20.7825 18.6226 20.9925 18.9826C21.2025 19.3426 21.6675 19.5301 22.0913 19.2151C22.515 18.8963 25.5338 15.5588 28.26 13.1738C30.7538 10.9913 32.6775 9.60758 32.6775 9.60758C32.6775 9.60758 33.4575 8.22758 33.33 7.91258C33.2025 7.59383 31.8563 7.54883 31.8563 7.54883Z" fill="#B3E1EE"/>
                        <path d="M31.8562 7.54871C31.8562 7.54871 33.9637 5.93246 36.2587 4.79621C38.3925 3.73871 40.515 2.85746 40.8975 3.62246C41.2612 4.34996 38.8837 5.33996 36.7912 6.67496C34.6987 8.00996 32.685 9.60371 32.685 9.60371C32.685 9.60371 32.3775 9.04121 32.1787 8.51996C32.0529 8.20259 31.9452 7.87831 31.8562 7.54871Z" fill="#ED6A65"/>
                        <path d="M33.5963 14.7187C31.5075 12.7949 28.6013 13.3124 27.1688 15.0224C25.6988 16.7849 25.8075 19.4774 27.5438 21.0974C29.1225 22.5674 32.0588 22.9012 33.8288 20.8387C35.4038 19.0087 35.3063 16.2899 33.5963 14.7187Z" fill="#E1E1E1"/>
                        <path d="M28.2488 15.7014C27.0075 16.9201 27.075 19.3351 28.5525 20.4376C29.8425 21.4014 31.6725 21.3526 32.82 20.1789C33.9675 19.0051 33.9675 16.8714 32.8913 15.7689C31.6538 14.5051 29.67 14.3064 28.2488 15.7014Z" fill="#3F545F"/>
                        <path d="M18.7499 28.8337C18.7499 28.8337 21.0712 26.4787 21.3262 26.7337C21.5812 26.9887 21.5474 28.4174 20.4374 30.0074C19.3237 31.5974 16.8749 34.4287 14.9362 36.3374C13.0237 38.2162 10.3274 40.3649 10.0724 40.3274C9.87369 40.2974 9.06744 39.8962 8.74494 39.5062C8.42994 39.1199 9.37119 37.2937 9.74994 36.6899C10.1324 36.0862 18.7499 28.8337 18.7499 28.8337Z" fill="#A02524"/>
                        <path d="M7.96125 38.1938C7.93125 38.7338 8.75625 39.5213 8.75625 39.5213L21.3262 26.7376C21.3262 26.7376 20.7375 26.0738 19.005 27.1501C17.2575 28.2376 15.7275 29.5426 13.47 31.7288C10.3237 34.7813 7.99125 37.6538 7.96125 38.1938Z" fill="#CA2C31"/>
                        <path d="M7.14751 13.8562C6.73126 14.2725 6.71251 14.94 7.17751 15.3225C7.59001 15.6637 8.26126 15.4425 8.51251 15.135C8.76376 14.8275 8.73376 14.16 8.40001 13.83C8.06626 13.4962 7.40251 13.605 7.14751 13.8562Z" fill="white"/>
                        <path opacity="0.5" d="M15.3826 13.3688C15.0676 13.7176 15.1688 14.2351 15.4613 14.4263C15.7538 14.6176 16.1926 14.5988 16.4063 14.3363C16.5976 14.1001 16.6201 13.6276 16.3276 13.3351C16.0726 13.0838 15.5851 13.1438 15.3826 13.3688Z" fill="white"/>
                        <path d="M20.8313 4.4588C20.8313 4.4588 21.2888 3.1538 21.5588 3.1388C21.8325 3.1238 22.2263 4.4438 22.2263 4.4438C22.2263 4.4438 23.58 4.4588 23.67 4.65755C23.7863 4.91255 22.8038 5.76755 22.8038 5.76755C22.8038 5.76755 23.1225 7.04255 22.9725 7.1963C22.8038 7.36505 21.6375 6.6938 21.6375 6.6938C21.6375 6.6938 20.4375 7.53005 20.1788 7.3013C19.9538 7.10255 20.4225 5.75255 20.4225 5.75255C20.4225 5.75255 19.2975 4.9313 19.3575 4.70255C19.4438 4.38005 20.8313 4.4588 20.8313 4.4588ZM36.3788 35.7488C36.8325 36 37.4025 35.8575 37.6125 35.3738C37.8038 34.9425 37.4513 34.4288 37.1325 34.29C36.8138 34.1513 36.255 34.335 36.0525 34.6988C35.8538 35.0588 36.105 35.5988 36.3788 35.7488ZM42.8213 24.69C42.5625 24.2888 42.0038 24.1575 41.64 24.48C41.2875 24.795 41.3738 25.29 41.5725 25.5413C41.7713 25.7925 42.3038 25.8863 42.6263 25.68C42.9488 25.4738 42.9788 24.93 42.8213 24.69Z" fill="white"/>
                        </svg>

                    {% else %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none">
                        <g clip-path="url(#clip0_443_9665)">
                            <path d="M23.9894 47.9998H46.656C46.656 47.9998 46.5667 43.7278 44.584 40.5611C39.3707 32.2385 23.9894 41.3331 23.9894 41.3331V47.9998Z" fill="#A0041E"/>
                            <path d="M24 47.9998H1.33337C1.33337 47.9998 1.42271 43.7278 3.40537 40.5611C8.62004 32.2385 24 41.3331 24 41.3331V47.9998Z" fill="#A0041E"/>
                            <path d="M37.3227 38.6665H10.6667C6.66668 38.6665 4.06401 43.3332 5.33334 47.9998H42.656C43.9267 43.3332 41.3227 38.6665 37.3227 38.6665Z" fill="#55ACEE"/>
                            <path d="M19.0254 40.0544C20.9801 41.4744 22.9774 41.3611 23.9214 41.3611C24.8654 41.3611 26.8467 41.4744 28.8014 40.0544V32.5024H19.0254V40.0544Z" fill="#FFDC5D"/>
                            <path d="M19.0187 33.5719C20.3813 35.1119 22.072 35.5292 23.9093 35.5292C25.7467 35.5292 27.4387 35.1132 28.8027 33.5719V29.6572H19.0187V33.5719Z" fill="#F9CA55"/>
                            <path d="M28.92 3.48657C26.3813 2.66524 20.408 2.88924 18.9146 4.83057C15.032 4.90524 10.4773 8.41457 9.87995 13.0439C9.28929 17.6266 10.6066 19.7532 11.0746 23.1986C11.6053 27.1026 13.8 28.3506 15.5546 28.8732C18.0786 32.2079 20.7626 32.0652 25.268 32.0652C34.0666 32.0652 38.2573 26.1786 38.628 16.1786C38.852 10.1319 35.3026 5.55057 28.92 3.48657Z" fill="#FFAC33"/>
                            <path d="M33.9519 16.6079C33.0999 15.4292 32.0106 14.4799 29.6213 14.1439C30.5173 14.5546 31.3759 15.9732 31.4879 16.7572C31.5999 17.5412 31.7119 18.1759 31.0026 17.3919C28.1613 14.2506 25.0666 15.4879 21.9986 13.5692C19.8559 12.2292 19.2039 10.7466 19.2039 10.7466C19.2039 10.7466 18.9426 12.7252 15.6946 14.7412C14.7533 15.3252 13.6293 16.6279 13.0066 18.5492C12.5586 19.9306 12.6973 21.1626 12.6973 23.2679C12.6973 29.4132 17.7626 34.5812 24.0106 34.5812C30.2586 34.5812 35.3239 29.3692 35.3239 23.2679C35.3226 19.4452 34.9226 17.9519 33.9519 16.6079Z" fill="#FFDC5D"/>
                            <path d="M23.8494 31.3906C21.708 31.3906 20.5867 30.3319 20.4667 30.2106C20.3083 30.0379 20.2224 29.8109 20.2267 29.5766C20.231 29.3423 20.3252 29.1187 20.4897 28.9519C20.6543 28.7851 20.8767 28.6879 21.1109 28.6805C21.3451 28.673 21.5732 28.7559 21.748 28.9119C21.7947 28.9546 22.4827 29.5666 23.8494 29.5666C25.2334 29.5666 25.9227 28.9359 25.9507 28.9106C26.1259 28.7467 26.3582 28.6578 26.5981 28.6628C26.838 28.6678 27.0664 28.7663 27.2347 28.9372C27.5814 29.2959 27.5814 29.8586 27.2294 30.2106C27.1094 30.3319 25.9894 31.3906 23.8494 31.3906Z" fill="#C1694F"/>
                            <path d="M32.6974 17.3335C28.9694 17.3335 26.484 18.4762 24 18.4762C21.516 18.4762 19.0294 17.3335 15.3027 17.3335C11.5747 17.3335 14.06 23.8708 15.3027 25.0135C16.5454 26.1562 21.516 23.8708 24 23.8708C26.484 23.8708 31.4547 26.1562 32.6974 25.0135C33.94 23.8708 36.4254 17.3335 32.6974 17.3335Z" fill="#226699"/>
                            <path d="M19.3333 23.0251C19.0344 23.0237 18.7481 22.9042 18.5368 22.6927C18.3255 22.4812 18.2064 22.1947 18.2053 21.8958V20.7691C18.2053 20.1491 18.7133 19.6411 19.3333 19.6411C19.6323 19.6422 19.9187 19.7613 20.1302 19.9726C20.3418 20.1839 20.4613 20.4702 20.4627 20.7691V21.8958C20.4616 22.195 20.3423 22.4816 20.1307 22.6932C19.9192 22.9047 19.6325 23.0241 19.3333 23.0251ZM28.6667 23.0251C28.3677 23.0237 28.0814 22.9042 27.8701 22.6927C27.6588 22.4812 27.5397 22.1947 27.5387 21.8958V20.7691C27.5387 20.1491 28.0467 19.6411 28.6667 19.6411C29.2867 19.6411 29.7947 20.1491 29.7947 20.7691V21.8958C29.7936 22.1947 29.6745 22.4812 29.4632 22.6927C29.2519 22.9042 28.9656 23.0237 28.6667 23.0251Z" fill="#88C9F9"/>
                            <path d="M25.036 27.3333H22.7826C22.6332 27.333 22.4899 27.2734 22.3842 27.1678C22.2785 27.0621 22.219 26.9188 22.2186 26.7693V26.5653C22.2186 26.2547 22.4706 26 22.7826 26H25.036C25.3466 26 25.6013 26.2533 25.6013 26.5653V26.7693C25.6013 27.08 25.348 27.3333 25.036 27.3333Z" fill="#C1694F"/>
                            <path d="M32.0746 48.0002C30.4599 46.4082 27.4533 45.3336 24 45.3336C20.5466 45.3336 17.5399 46.4082 15.9253 48.0002H32.0746ZM24 41.3629C24 41.3629 17.3333 41.3336 14.6666 42.6669C14.6666 42.6669 12.9079 38.6962 9.72928 38.2336C5.78928 37.6602 3.40662 40.5616 3.40662 40.5616C3.40662 40.5616 4.58528 38.1816 7.29328 36.8336C9.91728 35.5282 12.6773 36.9336 12.6773 36.9336C12.6773 36.9336 14.2773 35.9482 15.6106 35.9482C17.0319 35.9482 18.4039 36.0736 19.1666 37.1669C20.1253 38.5416 22.6666 41.3629 24 41.3629Z" fill="#DD2E44"/>
                            <path d="M23.9894 41.3628C23.9894 41.3628 30.656 41.3334 33.3227 42.6668C33.3227 42.6668 35.0814 38.6961 38.26 38.2334C42.2 37.6601 44.5827 40.5614 44.5827 40.5614C44.5827 40.5614 43.404 38.1814 40.696 36.8334C38.072 35.5281 35.312 36.9321 35.312 36.9321C35.312 36.9321 33.712 35.9468 32.3787 35.9468C30.9574 35.9468 29.5854 36.0721 28.8227 37.1654C27.8654 38.5414 25.3227 41.3628 23.9894 41.3628Z" fill="#DD2E44"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_443_9665">
                            <rect width="48" height="48" fill="white"/>
                            </clipPath>
                        </defs>
                        </svg>
                    {% endif %}

                     {% include 'partials/product_pricing/widget/_package_title.html.twig' %}
                    
                </div>
                {% include 'partials/product_pricing/widget/_pricing_section.html.twig' %}
            </div>
            {% include 'partials/product_pricing/widget/_signup_btn.html.twig' %}
        </div>
           
    </div>
    
</div>
{# <script>
   // Embed the product data as a JSON object
   var output = {{ product| json_encode | raw }};
   console.log('Product', output);
</script> #}