.no-hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12rem 0 6rem 0;
  
  background-image: url(../../images/hero/hero-bg.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 100%;

  @include desktop-small {
    padding: 12rem 0 6rem 0;
  }

  @include tablet {
    background-image: url(../../images/hero/hero-bg-mobile.png) !important;
  }

  .no-hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include desktop-small {
      flex-direction: column;
      text-align: center;
    }

    .head-content {
      display: flex;
      flex: 1;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      @include desktop-small {
        gap: 34px;
        align-items: center;
        justify-content: center;
      }

      h1 {
        @include typography(display-xl, semibold);
        color: var(--color-white);

        @include tablet {
          font-style: normal;
          @include typography(display-md, semibold);
        }     
      }

      h4 {
        @include typography('text-md', medium);
        color: var(--color-primary);
        border-radius: 8px;
        background: var(--bg-secondary);
        padding: 6px 8px;

        @include tablet {
          @include typography(text-md, regular);
        }
      }

      p {
        @include typography('text-lg', regular);
        color: var(--bg-secondary);
        max-width: 50%;

        @include tablet {
          @include typography('text-lg', regular);
          max-width: 100%;
        }
      }

      .nohero_buttons {
        margin-top: 18px;
        display: flex;
        gap: 14px;

        @include desktop-small {
          gap: 14px;
          flex-direction: column;
          margin-top: 0;
        }

        .button {
          padding: 15.969px 31.376px 16.031px 29.624px;
          width: fit-content;
          display: flex;
          gap: 12px;

          &:nth-child(2) {
            background: var(--color-secondary);
            border: 1px solid var(--color-white);
          }
        }

      }
    }
  }
}