.why_choose {
  display: flex;
  padding: 62px 0;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  align-self: stretch;
  // background-color: var(--feature-bg-container);
  position: relative;

  @include desktop-small {
    padding: 40px 0;
    row-gap: 24px;
  }

  .container {
    @include padding(padding-lg);
    display: flex;
    justify-content: center;

    @include desktop-small {
      @include padding(padding-sm);
    }
  }

  .why_choose_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 24px;

    max-width: 703px;

    @include desktop-small {
      width: 100%;
      gap: 16px;
    }

    .sub_title {
      background: rgba(0, 0, 0, 0.10);
      width: fit-content;
      padding: 8px 10px;
      border-radius: 8px;
      @include typography(text-sm, semibold);

      color: var(--color-primary);

      @include desktop-small {
        @include typography(text-sm, medium);
      }

    }

    .block-title {
      @include typography(display-lg, semibold);

      color: var(--color-text-dark);

      @include desktop-small {
        @include typography(display-sm, semibold);
      }

      span {

        color: var(--color-primary);
        @include typography(display-lg, medium);

        @include desktop-small {
          @include typography(display-md, medium);
        }
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;

      .why_choose_description {

        // opacity: 0;
        p {
          color: var(--color-text-light);
          @include typography(text-xl, regular);

          @include mobile {
            @include typography(text-md, regular);
          }
        }
      }

    }


  }

  .why_choose_container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    max-width: 902px;
    justify-content: center;
    align-items: center;
    gap: 26px;
    // background: var(--feature-bg-container);
    overflow: hidden;
    width: 100%;

    @include desktop-small {
      flex-direction: column;
      gap: 16px;
    }

    .why_choose_contents:nth-child(1) {
      max-width: 406px;

      @include desktop-small{
        max-width: 100%;
      }

      .img_in {
        margin-bottom: 0;
        width: 90%;

        @include desktop-small{
          width: 100%;
        }
      }
    }

    .why_choose_contents:nth-child(2) {
      max-width: 406px;
      padding: 20px 34px 20px 26px;
      
      @include desktop-small{
        max-width: 100%;
        height: 478px;
        padding: 20px 24px;
      }

      .why_choose_content .icon_head .head {
        @include tablet {
              @include typography(text-xl, semibold);
            }
      }


       
    }

    .why_choose_contents:nth-child(3) {
      max-width: 831px;
      width: 100%;
      flex-direction: row-reverse;
      padding: 5px 48px 0 !important;

      @include desktop-small{
        max-width: 100%;
        flex-direction: column-reverse;
        gap: 41px;
        padding: 24px 24px 0 !important;
      }

      .img_in {

        height: 100%;
        margin-bottom: 0;

        @include desktop-small{
          margin-bottom: -6px;
        }
      }
    }

    .why_choose_contents:nth-child(4) {
      max-width: 406px;
      gap: 18px;
      padding: 24px 24px 0;
      justify-content: space-between;

      @include desktop-small{
        max-width: 100%;
      }

      .img_in {
        margin-bottom: 0;

        @include desktop-small{
          margin-bottom: -6px;
        }
      }
    }

    .why_choose_contents:nth-child(5) {
      max-width: 406px;
      gap: 18px;
      padding: 24px 24px 0;
      justify-content: space-between;

      @include desktop-small{
        max-width: 100%;
      }

      .img_in {
        margin-bottom: 0;
      }
    }



    .why_choose_contents {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      align-self: stretch;
      position: relative;
      padding: 20px 34px;
      border-radius: 16px;
      width: 100%;
      gap: 24px;
      background: var(--color-primary);
      flex-grow: 1;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;

      @include desktop-small {
        align-items: center;
        width: 100%;
        padding: 20px 14px;
      }

      .img_in {
        overflow: hidden;
        border-radius: 16px;
        width: 100%;

        @include desktop-small {
          width: 100%;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }

      .why_choose_content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
        width: 100%;

        @include tablet {
          gap: 16px;
        }

        .icon_head {
          display: flex;
          flex-direction: column;
          gap: 12px;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: left;
          width: 100%;

          // &:nth-child(2){
          //   flex-direction: row;
          // }

          .icon {
            width: 36px;
            height: auto
          }

          .head {
            @include typography(display-xs, semibold);
            color: var(--color-white);

            // @include tablet {
            //   @include typography(text-xl, semibold);
            // }
          }
        }


        .desc {
          @include typography(text-md, regular);
          color: var(--color-white);


        }
      }

    }


  }

}