.why-choose-section {
  display: flex;
  padding: 80px 0;
  background: var(--bg-body);

  @include desktop-small {
    padding: 2.5rem 0;
    row-gap: 2.625rem;
  }

  .why-choose-wrapper {
    display: flex;    
    flex-direction: column;

    .header-content {
      margin-bottom: 40px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      @include desktop-small {
        text-align: center;
      }

      .section-title {
        margin-bottom: 24px;
        color: var(--color-white);
      }

      .brief {
        color: var(--color-white);
      }

    }

    .contents-wrapper {
      padding: 2.1rem 0;
      width: 100%;
      background-image: url(../../images/why-choose-bg-circle.svg);
      background-repeat: no-repeat;
      background-position: top;
      // background-size: contain;

      position: relative;

      .top-left {
        position: absolute;
        top: 1rem;
        left: 0;
      }

      .bottom-left {
        position: absolute;
        bottom: 7rem;
        left: 7rem;
      }

      .top-right {
        position: absolute;
        top: 7rem;
        right: 4rem;
      }

      .bottom-right {
        position: absolute;
        bottom: 0;
        right: 4rem;
      }

      .video-box {
        width: 310px;
        height: 570px; 
        border-radius: 24px; 
        margin: 0 auto;
        // position: relative;
        overflow: hidden;        

        video {
          width: 310px;
          height: 570px; 
          object-fit: cover;
        }
      }

      .item {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: var(--color-tertiary);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
        padding: 10px 20px;
        width: fit-content;

        @include desktop-lg {
          display: none
        }

        @include desktop-small {
          display: none
        }

        .brief-text {
          @include typography(text-xl, regular);
          color: var(--color-white);

          @include desktop-small {
            @include typography('text-md', regular);
          }
        }
      }

      .items-mobile-view {
        display: none;

        @include desktop-lg {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          padding: 8rem 0 0 0;
        }

        @include desktop-small {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          padding: 8rem 0 0 0;
        }

        .item-for-mobile {

          @include desktop-lg {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 24px;
            border: 0.5px solid rgba(255, 255, 255, 0.36);
            background: var(--color-tertiary);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
            padding: 10px 20px;
            width: fit-content;
          }

          @include desktop-small {
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 24px;
            border: 0.5px solid rgba(255, 255, 255, 0.36);
            background: var(--color-tertiary);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08);
            padding: 10px 20px;
            width: fit-content;
          }

          .brief-text {
            @include typography(text-xl, regular);

            @include desktop-small {
              @include typography('text-md', regular);
            }
          }
        }
      }
    }


  }
}

